.form-login input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
}
.form-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 32px;
  position: relative;
}
