@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
:root {
  --black-color: #111;
  --gray-color: #666;
  --white-color: #ffffff;
  --gray-1-color: #333333;

  --font-lg: 32px;
  --font-md: 16px;
  --font-md-1: 14px;
  --font-sm: 13px;
  --font-sm-1: 12px;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 87.5%;
  height: 100%;
}

body {
  font-family: Poppins;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
a {
  color: var(--black-color);
}

#root {
  height: 100%;
}

button {
  border: none;
}

button,
input,
textarea {
  outline: none;
}
